* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto;
}

/* navbar */

header {
  height: 7vh;
  background-color: #262626;
  filter: drop-shadow(0px 5px 10px #000);
}

nav {
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

li {
  padding: 20px;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  opacity: 0.6;
}

a:hover {
  opacity: 1;
  transition: 0.5 ease-in;
}

/* main section */

body {
  background-color: gold;
}
main {
  display: flex;
  width: 90%;
  height: 93vh;
  margin: auto;
  position: relative;
}

iframe {
    flex: 1;
    align-self: center;
  }

.intro {
  flex: 2;
  align-self: center;
  margin-left: 100px;
}

.intro h1 {
    font-size: 60px;
    text-align: left;
}

.intro p {
    font-size: 40px;
}

.cta {
    background-color: #262626;
    border: 3px solid #262626;
    color: gold;
    height: 55px;
    width: 230px;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
}

.cta:hover {
    border: 3px solid #262626;
    background-color: transparent;
    color: #262626;
}

.cta:focus {
    outline: none;
}

/* portfolio */

#portfolio #about, h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.items  {
    margin-left: 120px;
}

div .project {
    background-color: #EDC900;
    display: inline-block;
    padding: 20px;
    color: #262626;
    border-radius: 10px;
    margin: 50px;
}

div img {
    border-radius: 10px;
    width: 400px;
    margin-bottom: 10px;
    filter: grayscale(1);
}

div img:hover {
    filter: grayscale(0);
    transition: 1s ease-in-out;
}

/* about me */

#about {
    width: 90%;
    height: 97vh;
    margin: auto;
    padding: 100px;
}

#about div {
margin: 120px;
text-align: center;
font-size: 30px;
}

#about button {
    background-color: #262626;
    border: 3px solid #262626;
    color: gold;
    height: 55px;
    width: 230px;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
}

/* my services */

#services h1 {
    padding-bottom: 200px;
}

#services {
    width: 90%;
    height: 100vh;
    margin: auto;
    padding: 100px;
}

#services div {
    display: inline-block;
    background-color: #262626;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 40px;
    border-radius: 10px;
    
}

#services i {
    color: gold;
}

#services i:hover {
    opacity: .7;
    transition: 1s ease-in-out;
}

/* footer */

footer {
    height: 3vh;
    background-color: #262626;
    color: white;
}

footer h5 {
    text-align: center;
    padding: 5px;
}